<div class="contact-container">

    <!-- Contact Info -->
    <div class="contact-box">
      <h1>Contact</h1>
      <p>I can be reached at the following email:</p>
      <b><strong>reinier231@gmail.com</strong></b>
      <ul>
        <li>Feel free to connect with me on the following platforms:</li>
      </ul>
    </div>
  
    <!-- LinkedIn -->
    <div class="platform-box">
      <img src="../../assets/linkedin.png" alt="LinkedIn" class="icon">
      <a href="https://www.linkedin.com/in/reinier-mariscotes-404907229/" target="_blank">LinkedIn</a>
    </div>
  
    <!-- Facebook -->
    <div class="platform-box">
      <img src="../../assets/facebook.png" alt="Facebook" class="icon">
      <a href="https://www.facebook.com/reinier.mariscotes.94" target="_blank">Facebook</a>
    </div>
  
    <!-- GitHub -->
    <div class="platform-box">
      <img src="../../assets/github.png" alt="GitHub" class="icon">
      <a href="https://github.com/Reinier1313" target="_blank">GitHub</a>
    </div>
  
  </div>
  