<div class="container">

    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed"> Filter</button>
            <button class="btn btn-outline-secondary mb-2 me-2" (click)="ResetFilters()" [hidden]="!filtering">Reset Filters</button>

            
        </div>

        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="border mb-2 shadow-sm" style="width: 250px;"></div>
            <form>
                <div class="row mx-8">
                    
                    <!-- Language Filters -->
                    <div class="col">
                        <small><b>Languages:</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="typescript"
                                (change)="Filter()"
                                name="TypeScript">
                                <label for="" class="form-check-label small">TypeScript</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="python"
                                (change)="Filter()"
                                name="Python">
                                <label for="" class="form-check-label small">Python</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="java"
                                (change)="Filter()"
                                name="Java">
                                <label for="" class="form-check-label small">Java</label>
                            </div>
                        </div>
                    </div>

                    <!-- Framework Filters -->
                    <div class="col">
                        <small><b>Frameworks:</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="nextjs"
                                (change)="Filter()"
                                name="NextJS">
                                <label for="" class="form-check-label small">NextJS</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="reactJS"
                                (change)="Filter()"
                                name="ReactJS">
                                <label for="" class="form-check-label small">ReactJS</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="tailwindCSS"
                                (change)="Filter()"
                                name="TailwindCSS">
                                <label for="" class="form-check-label small">TailwindCSS</label>
                            </div>
                        </div>
                    </div>

                    <!-- Other Filters -->
                    <div class="col">
                        <small><b>Other Skills:</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="seoOptimization"
                                (change)="Filter()"
                                name="SEOOptimization">
                                <label for="" class="form-check-label small">SEO Optimization</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="mobileAppDevelopment"
                                (change)="Filter()"
                                name="MobileAppDevelopment">
                                <label for="" class="form-check-label small">Mobile App Development</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="dataVisualization"
                                (change)="Filter()"
                                name="DataVisualization">
                                <label for="" class="form-check-label small">Data Visualization</label>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <!-- Display filtered projects -->
    <div class="row">
        <div *ngFor="let project of filteredProjects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; max-height: 380px;">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div>

</div>
